<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'All Memo', forms_path %>||
<%= link_to 'Issue Memo', new_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<%= semantic_form_for(@form) do |f| %>
  <%= f.inputs do %>
  <%= f.input :date_issued %>
  <%= f.input :issued_to, :label => "Issue To" %>
  <%= f.input :from, :collection => [[" ","ADMIN"]], :include_blank => false, :wrapper_html => { :style => "display:none;" } %>
  <%= f.input :subject %>
  <%= f.input :why, :input_html => { :rows => 4 } %>
  <%= f.input :issued_by, :collection => [["- Auto Generated -","  ",current_user.email]], :wrapper_html => { :style => "display:none;" }, :include_blank => false %>
  <% end %> 
  <%= f.buttons %> 
<% end %>

<!--  :wrapper_html => { :style => "display:none;" } -->
</div>
