<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'listing Service', forms_path %>||
<%= link_to 'Create New Service', new_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<h4>
  <b>Date issued:</b>
  <%= @form.date_issued %>
</h4>

<h4>
  <b>Issued to:</b>
  <%= @form.issued_to %>
</h4>

<h4>
  <b>From:</b>
  <%= @form.from %>
</h4>

<h4>
  <b>Subject:</b>
  <%= @form.subject  %>
</h4>

<h4>
  <b>Why:</b>
  <%= @form.why %>
</h4>

<%= semantic_form_for(@form) do |f| %>
  <%= f.inputs do %>
  <%= f.input :answer, :input_html => { :rows => 4 } %>
  <%= f.input :sign_by, :collection => [["- Auto Generated -","  ",current_user.email]], :wrapper_html => { :style => "display:none;" }, :include_blank => false  %>
  <% end %> 
  <div><%= f.submit " Submit " %> </div>
<% end %>
<br />
<h4>
  <b>Issued by:</b>
  <%= @form.issued_by %>
</h4>



</div>
