<div id="form1">
<br />
<br />
<div id="link1">
<%= link_to 'All Memo', forms_path %>||
<%= link_to 'Issue Memo', new_form_path %>
</div>
<div id="link">
<%= link_to "Sign out",  destroy_user_session_path,  :method=> :delete %> ||
<%= current_user.email if user_signed_in? %>
</div>
<br />
<br />
<table>
  <tr>
    <th>Date issued</th>
    <th>Issued to</th>
    
  
    
    <th>Issue by</th>
    <th>Sign By</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @forms.each do |form| %>
  <tr>
    <td><%= form.date_issued %></td>
    <td><%= form.issued_to %></td>
  
   
   
    <td><%= form.issued_by %></td>
    <td><%= form.sign_by %></td>
    <td><%= form.status %></td>
    <td><%= link_to 'View', form %></td>
    <td><%= link_to 'Answer Memo', edit_form_path(form) %></td>
    <!--<td><%= link_to 'Destroy', form, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />
<%= paginate @forms %>

</div>
